[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jose = "*"
passlib = {extras = ["bcrypt"], version = "*"}
cryptography = "*"
bcrypt = "==4.0.1"
email-validator = "*"
pydantic-settings = "*"
python-multipart = "*"
pymysql = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
